<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
	<title>Gerador de Tabuadas</title>
	<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/js/tabuada.js"></script>
</head>
<body>
	<input id="gerador" type="button" onclick="gerarTabuada()" value="Gerador de tabuada" /> |
	<input type="button" onclick="pegarTabuadaASerPulada()" value="Tabuada a ser pulada" /> |
	<input type="button" onclick="pegarTabuadaProibida()" value="Tabuada que irá encerrar a geração" /> |
	<input type="button" onclick="apresentaHistorico()" value="Histórico das 10 últimas tabuadas" /> 
	<div id="tabuadas">
	</div>
</body>
</html>

